#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;

  /* background-color: black; */
  text-align: center;
}
/* body{
  background-color: black;
} */

.card{
  /* color: white; */
  /* background-color: #1a1a1a; */
}
